          <!-- start contact -->
          <div class="contact" id="contact">
            <div class="container">
                <h2 class="special-heading">Contact</h2>
                <p>We are born to create</p>
                  <div class="text" style="color: whitesmoke;">
                      <p> Feel free to drop us a line at:</p>
                      <a href="mailto:Leonagency@maiLocom" class="link">Atlas@mail.com</a>
                      <div class="social">
                          <span>Find Us On Social Networks</span>
                          <i class="fa-brands fa-youtube"></i>
                          <i class="fa-brands fa-facebook"></i>
                          <i class="fa-brands fa-twitter"></i>
                      </div>
                  </div>
              </div>
          </div>
          <!-- end contact -->
          <!-- Start Footer -->
          <div class="footer " style="color: black;">&copy; 2021 <span>Atlas</span> All Right Reserved</div>
          <!-- End Footer -->  
