.logo {
    height: 2rem;
    /* u can just determine the height and the compiler will relative the width to the actual width  */ }
.leftt{
    margin-left: -2rem;
}
.white_text{
    color:white;
}


.btn-insert{
    height: 44px;
    width: 122px;
    margin: 0 0 0 44%;
}

.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
    margin-top: 3.5rem;
  }
  .special-heading + p {
    text-align: center;
    margin: -30px 0 0;
    font-size: 20px;
    color: #797979;
  }
  @media (max-width:767px) {
   .special-heading {
    font-size: 60px;
   } 
   .special-heading + p {
    margin: -20px 0 0;
   }
  }







.contact {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: black;
    text-align: center;
  }
  .contact .container .special-heading {
    color: #c7c7c7;
  }
  .contact .container .text {
    padding: 60px 0;
  }
  .contact .container .text p {
    color: #ffc107;
    font-size: 35px;
    font-weight: 800;
    letter-spacing: -2px;
    margin-bottom: 15px;
  }
  .contact .container .text a {
    color: #ffc107;
    font-size: 35px;
    font-weight: 800;
    text-decoration: none;
  }
  .contact .container .text .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
  }
  .contact .container .text .social i {
    margin-left: 10px;
    color: #ffc107;
  
  }
  @media (max-width:767px) {
    .contact .container .text a ,
    .contact .container .text p {
      font-size: 25px;
    }
    .contact .container .text .social {
      font-size: 12px;
    }
  
  }
  
  
  
  
  
  /* end contact */
  /* Start Footer */
  .footer {
    background-color: #ffc107;
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
  }
  .footer span {
    font-weight: bold;
    color: #5643fa;
  }
  /* End Footer */
  
  