<% layout("boilerplate") %>
  <header class="header">
    <div class="logo-box">
      <img src="/img/logo-white.png" alt="logo" class="logo">
    </div>
    
    <div class="text-box">
    <h1 class="heading-primary">
      <span class="heading-primary-main">outdoors</span>
      <span class="heading-primary-sub"> where the life happens</span>
    </h1>
    <a href="#" class="btn btn--white btn-animated ">discover our tours</a>
    </div>
  </header>
  <main>
    <section class="section-about">
      <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">
          Exiting tours for adventures people
        </h2>
      </div>
        <div class="Row">
          <div class="cal-1-of-2" >  
            <h3 class="heading-tertiary u-margin-bottom-small">YOU'RE GOING TO FALL IN LOVE WITH NATURE  </h3>
            <p class="paragraph">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur libero repellat quis consequatur ducimus quam nisi exercitationem omnis earum qui.
            </p>
            <h3 class="heading-tertiary u-margin-bottom-small">LIVE ADVENTURES LIKE YOU NEVER HAVE BEFORE</h3>
            <p class="paragraph">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur libero repellat qui.
            </p>
            <a href="#" class="btn-text">Learn more &rarr;</a>
          </div>
          <div class="cal-1-of-2">  
            <div class="composition">
              <img src="/img/nat-1-large.jpg " alt="p1" class="composition__photo composition__photo--p1">
              <img src="/img/nat-2-large.jpg" alt="p2" class="composition__photo composition__photo--p2">
              <img src="/img/nat-3-large.jpg" alt="p3" class="composition__photo composition__photo--p3">
            </div>
          </div>
        </div>
      </section>
      <section class="section-feature">
        <div class="Row">
          <div class="cal-1-of-4">
            <div class="feature-box">
              <i class="feature-box__icon fa-solid fa-globe"></i>
              <h3 class="heading-tertiary u-margin-bottom-small ">explore the world</h3>
              <p class="paragraph">lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur</p>
            </div>
          </div>
          <div class="cal-1-of-4">
            <div class="feature-box">
              <i class="feature-box__icon fa-regular fa-compass"></i>
              <h3 class="heading-tertiary u-margin-bottom-small ">MEET NATURE</h3>
              <p class="paragraph">lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur</p>
            </div>
          </div>
          <div class="cal-1-of-4">
            <div class="feature-box">
              <i class="feature-box__icon fa-regular fa-map"></i>
              <h3 class="heading-tertiary u-margin-bottom-small ">FIND YOUR WAY</h3>
              <p class="paragraph">lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur</p>
            </div>
          </div>
          <div class="cal-1-of-4">
            <div class="feature-box">
              <i class="feature-box__icon fa-regular fa-heart"></i>
              <h3 class="heading-tertiary u-margin-bottom-small ">LIVE A HEALTHIER LIFE</h3>
              <p class="paragraph">lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur</p>
            </div>
          </div>
        </div>
      </section>
      <section class="section-tours">
        <div class="u-center-text u-margin-bottom-big">
          <h2 class="heading-secondary">
            Most popular tours
        </div>
        <div class="Row">
          <div class="cal-1-of-3">  
            <div class="card">
              <div class="card__side card__side--front">
                   <div class="card__picture card__picture--1">
                       &nbsp;
                   </div>
                   <h4 class="card__heading">
                       <span class="card__heading-span card__heading-span--1">The Sea Explorer</span>
                   </h4>
                   <div class="card__details">
                       <ul>
                           <li>3 day tours</li>
                           <li>Up to 30 people</li>
                           <li>2 tour guides</li>
                           <li>Sleep in cozy hotels</li>
                           <li>Difficulty: easy</li>
                       </ul>
                   </div>
              </div>
              <div class="card__side card__side--back card__side--back-1">
                   <div class="card__cta">
                       <div class="card__price-box">
                           <p class="card__price-only">Only</p>
                           <p class="card__price-value">$297</p>
                       </div>
                       <a href="#popup" class="btn btn--white">Book now!</a>
                   </div>
               </div>
          </div> 
        </div>
          <div class="cal-1-of-3">  
            <div class="card">
              <div class="card__side card__side--front">
                   <div class="card__picture card__picture--2">
                       &nbsp;
                   </div>
                   <h4 class="card__heading">
                       <span class="card__heading-span card__heading-span--2">The Sea Explorer</span>
                   </h4>
                   <div class="card__details">
                       <ul>
                           <li>3 day tours</li>
                           <li>Up to 30 people</li>
                           <li>2 tour guides</li>
                           <li>Sleep in cozy hotels</li>
                           <li>Difficulty: easy</li>
                       </ul>
                   </div>
              </div>
              <div class="card__side card__side--back card__side--back-2">
                   <div class="card__cta">
                       <div class="card__price-box">
                           <p class="card__price-only">Only</p>
                           <p class="card__price-value">$497</p>
                       </div>
                       <a href="#popup" class="btn btn--white">Book now!</a>
                   </div>
               </div>
          </div> 
        </div>
          <div class="cal-1-of-3">  
            <div class="card">
              <div class="card__side card__side--front">
                   <div class="card__picture card__picture--3">
                       &nbsp;
                   </div>
                   <h4 class="card__heading">
                       <span class="card__heading-span card__heading-span--3">The Sea Explorer</span>
                   </h4>
                   <div class="card__details">
                       <ul>
                           <li>3 day tours</li>
                           <li>Up to 30 people</li>
                           <li>2 tour guides</li>
                           <li>Sleep in cozy hotels</li>
                           <li>Difficulty: easy</li>
                       </ul>
                   </div>
              </div>
              <div class="card__side card__side--back card__side--back-3">
                   <div class="card__cta">
                       <div class="card__price-box">
                           <p class="card__price-only">Only</p>
                           <p class="card__price-value">$897</p>
                       </div>
                       <a href="#popup" class="btn btn--white">Book now!</a>
                   </div>
               </div>
            </div> 
          </div>
        </div>
        <div class="u-center-text u-margin-top-big">
          <a href="#" class="btn btn--green">discover all tours</a>
        </div>
      </section>
      <section class="section-story">
        <div class="background-vid">
          <video class="background-vid__content" autoplay muted loop>
            <source src="/img/video.mp4" type="video/mp4">
            <source src="/img/video.webm" type="video/webm">
            your bowser not support this vid 
            <!-- download from coverr and then convert  -->
          </video>
        </div>
        <div class="u-center-text u-margin-bottom-big">
          <h2 class="heading-secondary">
            WE MAKE PEOPLE GENUINELY HAPPY
          </h2>
        </div>
        <div class="Row">
          <div class="story">
            <figure class="story__shape">
              <!-- figure is image with caption -->
              <img src="/img/nat-8.jpg" alt="" class="story__img">
              <figcaption class="story__caption"> MARY SMITH</figcaption>
            </figure>
            <div class="story__text">
              <h3 class="heading-tertiary u-margin-bottom-small ">I HAD THE BEST WEEK EVER WITH MY FAMILY</h3>
              <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit
                . Aperiam, ipsum sapiente aspernatur libero repellat quis consequatur ducimus quam 
                nisi exercitationem omnis earum qui. Aperiam, ipsum sapiente aspernatur libero repellat
                 quis consequatur ducimus quam nisi exercitationem omnis earum qui.
                </p>            
            </div>
          </div>
        </div>
        <div class="Row">
          <div class="story">
            <figure class="story__shape">
              <!-- figure is image with caption -->
              <img src="/img/nat-9.jpg" alt="" class="story__img">
              <figcaption class="story__caption"> JACK WILSON</figcaption>
            </figure>
            <div class="story__text">
              <h3 class="heading-tertiary u-margin-bottom-small ">WOW! MY LIFE IS COMPLETELY DIFFERENT NOW</h3>
              <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit
                . Aperiam, ipsum sapiente aspernatur libero repellat quis consequatur ducimus quam 
                nisi exercitationem omnis earum qui. Aperiam, ipsum sapiente aspernatur libero repellat
                 quis consequatur ducimus quam nisi exercitationem omnis earum qui.
                </p>            
            </div>
          </div>
        </div>
        <div class="u-center-text u-margin-top-big">
          <a href="#" class="btn-text">Read all stories →</a>
        </div>
      </section>
      <section class="section-book">
        <div class="Row">
          <div class="book">
            <div class="book__form">
              <form action="#" class="form">
                <div class=" u-margin-bottom-medium">
                  <h2 class="heading-secondary">
                    start booking now 
                  </h2>
                </div>
                <div class="form__group">
                  <input type="text" class="form__input  " placeholder="Full name " required id="fullname">
                  <label for="fullname" class="form__lable" >Full Name </label>
                </div>
                <div class="form__group">
                  <input type="email" class="form__input " placeholder="Email address" required id="email ">
                  <label for="email " class="form__lable" >Email address</label>
                </div>
                <div class="form__radio-group">
                  <input type="radio" class="form__radio-input" id="small" name="size">
                  <label for="small" class="form__radio-label">
                      <span class="form__radio-button"></span>
                      Small tour group
                    </label>
                  </div>
                  
                  <div class="form__radio-group">
                    <input type="radio" class="form__radio-input" id="large" name="size">
                    <label for="large" class="form__radio-label">
                      <span class="form__radio-button"></span>
                      Large tour group
                    </label>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </section>

        <!-- end Portfolio -->
        <!-- start contact -->
        <div class="contact" id="contact">
          <div class="container">
              <h2 class="special-heading">Contact</h2>
              <p>We are born to create</p>
              <div class="text">
                  <p> Feel free to drop us a line at:</p>
                  <a href="mailto:Leonagency@maiLocom" class="link">Atlas@mail.com</a>
                  <div class="social">
                      <span>Find Us On Social Networks</span>
                      <i class="fa-brands fa-youtube"></i>
                      <i class="fa-brands fa-facebook"></i>
                      <i class="fa-brands fa-twitter"></i>
                  </div>
              </div>
          </div>
      </div>
      <!-- end contact -->
      <!-- Start Footer -->
      <div class="footer">&copy; 2021 <span>Atlas</span> All Right Reserved</div>
      <!-- End Footer -->


  </main>
















  <!-- 
    <section class="grid-test">
      <div class="Row">
        <div class="cal-1-of-2">  1 of 2 </div>
        <div class="cal-1-of-2">  1 of 2 </div>
      </div> 
      <div class="Row">
        <div class="cal-1-of-3">  1 of 3 </div>
        <div class="cal-1-of-3">  1 of 3 </div>
        <div class="cal-1-of-3">  1 of 3 </div>
      </div>  
      <div class="Row">
        <div class="cal-1-of-3">  1 of 3 </div>
        <div class="cal-2-of-3">  2 of 3 </div>
      </div>
      <div class="Row">
        <div class="cal-1-of-4">  1 of 4 </div>
        <div class="cal-1-of-4">  1 of 4 </div>
        <div class="cal-1-of-4">  1 of 4 </div>
        <div class="cal-1-of-4">  1 of 4 </div>
      </div>
    <div class="Row">
      <div class="cal-1-of-4">  1 of 4 </div>
      <div class="cal-1-of-4">  1 of 4 </div>
      <div class="cal-2-of-4">  2 of 4 </div>
    </div>
    <div class="Row">
      <div class="cal-1-of-4">  1 of 4 </div>
      <div class="cal-3-of-4">  3 of 4 </div>
    </div>
  </section>
  -->

