<% layout("boilerplate") %>

<div class="container mt-5 mb-5 text-light">
  <form
    action="/places"
    method="post"
  >
    <div class="mb-3">
      <label for="hotelName" class="form-label">Hotel Name</label>
      <input
      name="name"
        type="text"
        class="form-control"
        id="hotelName"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">    
      <label for="HotelRating" class="form-label">Example range</label>
      <input name="rating" type="range" class="form-range" min="0" max="5" step="0.5" id="HotelRating">
    </div>

    <div class="mb-3">
      <label for="Location" class="form-label">Location</label>
      <input name="location" type="text" class="form-control" id="Location" />
    </div>

    <div class="mb-3">
      <label for="discription" class="form-label">Discription</label>
      <textarea name="discription" class="form-control" id="discription" rows="3"></textarea>
    </div>
    
    <div class="mb-3"> Associate place</div>
    <div class="row g-3">
      <div class="col-auto">
        <label for="Longitude" class="form-label">Longitude</label>
        <input name="place_longitude" type="email" class="form-control" id="Longitude" >
      </div>
      <div class="col-auto">
        <label for="Latitude" class="form-label">Latitude</label>
        <input type="place_Longitude" class="form-control" id="Latitude">
      </div>
    </div>

    <button type="submit" class="btn btn-success btn-insert">Insert</button>
  </form>
</div>
