<% layout("boilerplate") %>

<div class="container mt-5 mb-5">
  <form 
  action="/insertphoto"
  method="post">
    <div class=" row justify-content-center">
    <div class="col-5 card p-5  ">
    <h5 class="mb-5"> Login</h3>
      <div class="row mb-3">
        <label for="userName" class="form-label">photoURL</label>
        <input name="photoURL" type="text" class="form-control" id="userName" required>
      </div>
      <button type="submit" class="btn btn-primary row-auto">Submit</button>
    </div>
  </div>
  </form>
</div>
