<% layout("boilerplate") %>

<div class="container mt-5 mb-5 text-light">
  <form
    action="/creature"
    method="post"
  >
    <div class="mb-3">
      <label for="CreatureName" class="form-label">Name</label>
      <input
      name="name"
        type="text"
        class="form-control"
        id="CreatureName"
        aria-describedby="emailHelp"
        required
      />
    </div>
    <div class="mb-3">
      <label for="Family" class="form-label">Family</label>
      <input name="family" type="text" class="form-control" id="Family"required />
    </div>
    <div class="form-check">
      <input name="endangered" class="form-check-input" type="checkbox" value="" id="endangered">
      <label class="form-check-label" for="endangerd">
        Endangerd kind
      </label>
    </div>
    <div class="mb-3 mt-3">
    <select name="kingdom" class="form-select" aria-label="Default select example">
      <option value="animal">animal</option>
      <option value="plant">plant</option>
    </select>
  </div>
    <div class="mb-3">
      <label for="discription" class="form-label">Discription</label>
      <textarea name="discription" class="form-control" id="discription" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-success btn-insert">Insert</button>
  </form>
</div>
