<% layout("boilerplate") %>

<div class="container mt-5 mb-5">
  <form
    action="/User"
    method="post"
  >
  <div class="mb-3">
      <label for="id" class="form-label">id</label>
      <input name="id" type="text" class="form-control" id="id" required/>
    </div>
    <div class="mb-3">
        <label for="userName" class="form-label">userName</label>
        <input name="userName" type="text" class="form-control" id="userName" required/>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">email</label>
      <input
      name="email"
        type="text"
        class="form-control"
        id="email"
        aria-describedby="emailHelp"
        required
      />
    </div>
    
    <div class="mb-3">
      <label for="password" class="form-label">password</label>
      <input name="password" type="text" class="form-control" id="password" required/>
    </div>
    <div class="mb-3">
      <label for="wallet" class="form-label">wallet</label>
      <input name="wallet" type="text" class="form-control" id="wallet" required/>
    </div>
    
    <input type="hidden" id="userType" name="userType" value="0">
    <button type="submit" class="btn btn-success btn-insert">Insert</button>
  </form>
</div>
