<% layout("boilerplate") %>

<div class="container mt-5 mb-5 text-light">
  <form
    action="/Bus"
    method="post"
  >
  <div class="mb-3">
      <label for="id" class="form-label">id</label>
      <input name="id" type="text" class="form-control" id="id" />
    </div>    
    <div class="mb-3">
      <label for="agency" class="form-label">agency</label>
      <input name="agency" type="text" class="form-control" id="agency" />
    </div>
    <div class="mb-3">
      <label for="capacity" class="form-label">capacity</label>
      <input name="capacity" type="text" class="form-control" id="capacity" />
    </div>
    <button type="submit" class="btn btn-success btn-insert">Insert</button>
 
  </form>
</div>
