<% layout("boilerplate") %>

<div class="row " style="margin-top: 5rem;">
    <div class="col-xl-10 col-md-8 col-sm-20 mx-auto">

        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 bg-dark">
                <div class="media align-items-end profile-header" style="transform: translateY(5rem);">
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-0"><%= userName %>  </h4>
                        <p class="small mb-4"> </p>
                    </div>
                </div>
            </div>

            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block"></h5><small class="text-muted"> </small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block"></h5><small class="text-muted"></small>
                    </li>
                </ul>
            </div>

            <div class="py-4 px-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">Recent photos</h5>
                </div>
                <div class="row"><% for(let photo of photos) {%> 
                    <div class="col-lg-6 mb-2 pr-lg-1"><img src="<%= photo.photoURL %> " alt="" class="img-fluid rounded shadow-sm"></div>
                    <% } %> 
                </div>
                <div class="py-4">
                    <h5 class="mb-3">BIO</h5>
                    <div class="p-4 bg-light rounded shadow-sm">
                        <p class="font-italic mb-0"><%= bios[0].bio %> 
                        </p>
                        <form action="/deleteaccount?_method=delete" method="post">
                            <button class="btn btn-danger mt-3 d-flex" role="button">Delete account</button>
                          </form>
                    </div>
                </div>
            </div>
            <div class="profile mr-6"><a href="/updateExplorer" class="btn btn-dark btn-sm btn-block">update bio</a></div>
            <div style="height: 1rem;"></div>
            <div class="profile mr-6"><a href="/updateUser" class="btn btn-dark btn-sm btn-block">update User data</a></div>
        </div><!-- End profile widget -->
    </div>
</div>