 <% layout("boilerplate") %>

  <div class="container mt-5 mb-5">
    <form action="/trip?_method=put" method="post">
      <div class="mb-3">
        <label for="id" class="form-label">Trip ID</label>
        <input name="id" type="text" class="form-control" id="id" aria-describedby="emailHelp"  placeholder="old"/>
      </div>
      <div class="mb-3">
        <label for="Price" class="form-label">Price</label>
        <input name="price" type="text" class="form-control" id="Price"  placeholder="old"/>
      </div>

      <div class="mb-3">
        <label for="TripType" class="form-label">Trip Type</label>
        <input name="tripType" type="text" class="form-control" id="TripType" placeholder="old" />
      </div>

      <div class="mb-3">
        <label for="NumberOfDay" class="form-label">Number of days</label>
        <input name="numberOfDay" class="form-control" id="NumberOfDay" rows="3" placeholder="old"></input>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Discription</label>
        <textarea name="description" class="form-control" id="description" rows="3" placeholder="old"></textarea>
      </div>

      <div class="mb-3">
        <label for="Date" class="form-label">date</label>
        <input name="date" class="form-control" id="Date" rows="3" placeholder="old"></input>
      </div>

      <div class="mt-3 mb-2"> Associate place</div>
      <div class="row g-3">
        <div class="col-auto">
          <label for="Longitude" class="form-label">Longitude</label>
          <input name="place_longitude" type="text" class="form-control" id="Longitude" placeholder="old">
        </div>
        <div class="col-auto">
          <label for="Latitude" class="form-label">Latitude</label>
          <input name="place_latitude" type="text" class="form-control" id="Latitude" placeholder="old">
        </div>
      </div>

      <div class="mt-3 mb-2"> Associate Bus</div>
      <div class="row g-3">
        <div class="col-auto">
          <label for="Bus" class="form-label">Bus ID</label>
          <input name="bus_id" type="text" class="form-control" id="Bus" placeholder="old">
        </div>
      </div>

      <button type="submit" class="btn btn-success btn-insert">Insert</button>
    </form>
  </div>