<% layout("boilerplate") %>

<div class="container mt-5 mb-5">
  <form
    action="/User?_method=put"
    method="post"
  >

    <div class="mb-3">
        <label for="bio" class="form-label">New Bio</label>
        <input name="bio" type="text" class="form-control" id="bio" placeholder="old"/>
    </div>
    
    <input type="hidden" id="userType" name="userType" value="0">
    <button type="submit" class="btn btn-success btn-insert">Insert</button>
  </form>
</div>
