<% layout("boilerplate") %>

<div class="container mt-5 mb-5">
  <form
    action="/User?_method=put"
    method="post"
  >

    <div class="mb-3">
        <label for="userName" class="form-label">New userName</label>
        <input name="userName" type="text" class="form-control" id="userName" placeholder="old"/>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">New email</label>
        <input name="email" type="text" class="form-control" id="email" placeholder="old"/>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">New password</label>
        <input name="password" type="text" class="form-control" id="password" placeholder="old"/>
    </div>
    
    <input type="hidden" id="userType" name="userType" value="0">
    <button type="submit" class="btn btn-success btn-insert">Insert</button>
  </form>
</div>
